<div class='header'>
  <h1 class='logo'>
    Wire Bird
  </h1>
  <div class='menu'>
    <a href='<%= blog_posts_path; %>'>Blog</a>
    <a href='<%= music_path; %>'>Music</a>
    <a href='<%= photos_path; %>'>Photos</a>
    <a href='<%= contact_path; %>'>Contact</a>
  </div>
</div>
<div class='arrow'></div>