<div class='rightsidebar'>
  <a id='facebook-logo' target='_blank' href='http://www.facebook.com/wire.bird' class='logo'>
    <%= image_tag("facebook-button.png") %>
  </a>
  <a id='unearthed-logo' target='_blank' href='http://www.triplejunearthed.com/wirebird' class='logo'>
    <%= image_tag("unearthed-button.png") %>
  </a>
</div>  
