<div class='rightsidebar'>
  <a target='_blank' href='http://www.facebook.com/wire.bird' class='facebook'>
    <%= image_tag("f_logo.png") %>
  </a>
  <p class='facebook-note'>Check out Wire Bird on Facebook</p>
</div>  
