<% @heading = 'CONTACT US' %>

<div id="contact" class="page clear ">
  <div class="content">
    <div class='heading'>
      <%= render 'topmenu' %>
    </div>
    <p>
      Blending three part harmonies and an acoustic guitar with modern influences we have enjoyed playing at venues such as The Northcote Social Club, The Evelyn and The Wesley Anne.
    </p>
    <p>Please email any enquires to <a href="mailto:contactwirebird@gmail.com">contactwirebird@gmail.com</a></p>
  </div><!-- CONTENT -->
</div><!-- CONTACT -->