<div id="contact" class="page clear ">
   <div class="content">
          <ul class="main-menu">
              <li><a href="#home" class="panel selected">HOME</a></li>
              <li><a href="#portfolio" class="panel">PORTFOLIO</a></li>
              <li><a href="#services" class="panel">SERVICES</a></li>
              <li><a href="#team" class="panel">THE TEAM</a></li>
              <li><a href="#contact" class="panel"><span class="blue">CONTACT</span></a></li>
          </ul>
          <div class="line-divider">
      <h1 class="page-top contact-heading">CONTACT US</h1>
      </div><!-- LINE-DIVIDER -->
      <div class="contact-area">
      <div class="google-maps"></div><!-- GOOGLE MAPS -->
          <div class="social-media">
                <a href="#" class="twitter small-icon left">twitter</a>
                <a href="#" class="blogger small-icon left">blogger</a>
                <a href="#" class="flickr small-icon left">flickr</a>
                <a href="#" class="google small-icon left">google</a>
                <a href="#" class="wordpress small-icon left">wordpress</a>
                <a href="#" class="dribble small-icon left">dribble</a>
                <a href="#" class="facebook small-icon left">facebook</a>
                <a href="#" class="deviantart small-icon left">deviantart</a>
                <a href="#" class="skype small-icon left">Skype</a>
                <a href="#" class="lastfm small-icon left">lastfm</a>
                <a href="#" class="digg small-icon left">Diggvimeo</a>
                <a href="#" class="dopplr small-icon left">Dopplr</a>
                <a href="#" class="picasa small-icon left">picasa</a>
                <a href="#" class="rss small-icon left">vimeo</a>
                <a href="#" class="sharethis small-icon left">ShareThis</a>
                <a href="#" class="forrst small-icon left">forrst</a>
                <a href="#" class="youtube small-icon left">Youtube</a>
                <a href="#" class="myspace small-icon left">Myspace</a>
                <a href="#" class="paypal small-icon left">Paypal</a>
                <a href="#" class="soundcloud small-icon left">Soundcloud</a>
                <a href="#" class="virb small-icon left">Virb</a>
                <a href="#" class="viddler small-icon left">Viddler</a>
                <a href="#" class="delicious small-icon left">Delicious</a>
                <a href="#" class="vimeo small-icon left">Vimeo</a>
          </div><!-- SOCIAL MEDIA  -->
      </div><!-- CONTACT AREA -->
    <form class="contact_form" action="#" method="post" name="contact_form">
        <ul>
            <li>
                <input type="text"  placeholder="Name" required />
            </li>
            <li>
                <input type="email" name="email" placeholder="E-mail" required />
                <span class="form_hint">Proper format "name@something.com"</span>
            </li>
            <li>
                <input type="url" name="website" placeholder="Website" required pattern="(http|https)://.+"/>
                <span class="form_hint">Proper format "http://someaddress.com"</span>
            </li>
            <li>
                <textarea name="message" placeholder="Message" cols="40" rows="6" required ></textarea>
            </li>
            <li class="buttonli">
                <button class="submit" type="submit">Submit</button>
            </li>
        </ul>
    </form>
  </div><!-- CONTENT -->
</div><!-- CONTACT -->