<div id="gigs" class="page clear">
  <div class="content">
    <div class='heading'>
      <%= render 'topmenu' %>
      <h2>GIGS</h2>
    </div>
    <div class='giglist'>
      <div class='gig'>
        <span>
          <h3>Wire Bird @ the John Curtain Hotel</h3>
          <p>20th October 2012</p>
        </span>
        <p>with Sarah de Haan and the Lost Boys, The Winter Suns and Animaux DJs</p> 
      <div>
  </div><!-- CONTENT -->
</div><!-- SERVICES -->