<div id="gigs" class="page clear">
  <div class="content">
    <%= render 'topmenu' %>
    <h2>GIGS</h2>
    <div class='gig'>
      <h3>John Curtain Hotel</h3>
      <p>with Sarah de Haan and the Lost Boys, The Winter Suns and Animaux DJs</p> 
    <div>
  </div><!-- CONTENT -->
</div><!-- SERVICES -->