<div id="services" class="page clear">
                <div class="content">
                        <ul class="main-menu page-menu">
                            <li><a href="#home" class="panel">HOME</a></li>
                            <li><a href="#portfolio" class="panel">PORTFOLIO</a></li>
                            <li><a href="#services" class="panel"><span class="blue">SERVICES</span></a></li>
                            <li><a href="#team" class="panel">THE TEAM</a></li>
                            <li><a href="#contact" class="panel">CONTACT</a></li>
                        </ul>
                            <div class="line-divider">
                            <h1 class="page-top services-heading">SERVICES</h1>
                            </div><!-- LINE-DIVIDER -->
                    <div class="service-item-area">
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-rocket"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-lab"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-ice-cream"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-martini"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-info"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-bulb"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-pen"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                        <div class="service-item">
                            <h4>branding</h4>
                                <div class="icon-atom"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                        </div><!-- ITEM -->
                    </div><!-- SERVICE-AREA -->
            </div><!-- CONTENT -->
           
        </div><!-- SERVICES -->