<div id="home" class="page clear">
    <div class="content home-content">                
        <div class="logo">
          <%= image_tag 'bird-icon-shadow-small.png' %>
        </div>
        <div>
          <h1>WIRE BIRD</h1>
          <h3>Swings EP out now.</h3>
        </div>
        <ul class="menu home-menu">
          <li><a href="#gigs" class="panel">GIGS</a></li>
          <li><a href="#music" class="panel">MUSIC</a></li>
          <li><a href="#contact" class="panel">CONTACT</a></li>
        </ul>
    </div><!-- CONTENT -->
</div><!-- HOME -->