<div id="home" class="page clear">
    <div class="content home-content">                
        <div class="logo"></div>
            <div class="intro">
                <h1 class="welcome">Wire Bird</h1>
                <h2 class="intro1">WE ARE <span class="pink">PROTON</span> AND THIS IS AN AWESOME THEME WITH DIAGONAL SCROLLING</h2>
                <h3 class="intro2">Swings EP out now.</h3>
                </div><!-- INTRO -->
            <ul class="main-menu home-menu">
                <li><a href="#home" class="panel selected"><span class="blue">HOME</span></a></li>
                <li><a href="#portfolio" class="panel">PORTFOLIO</a></li>
                <li><a href="#services" class="panel">SERVICES</a></li>
                <li><a href="#team" class="panel">THE TEAM</a></li>
                <li><a href="#contact" class="panel">CONTACT</a></li>
            </ul>
    </div><!-- CONTENT -->
</div><!-- HOME -->