<div id="music" class="page clear">
    <div class="content">
      <div class='heading'>
        <%= render 'topmenu' %>
        <h2>MUSIC</h2>
      </div>
      
      <div class='player round'>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F53701086&amp;auto_play=false&amp;show_artwork=true&amp;color=4a85f0"></iframe>
      </div>
    </div><!-- CONTENT -->
</div><!-- HOME -->