<div id="portfolio" class="page">
             <div class="content">
                    <ul class="main-menu page-menu">
                        <li><a href="#home" class="panel">HOME</a></li>
                        <li><a href="#portfolio" class="panel"><span class="blue">PORTFOLIO</span></a></li>
                        <li><a href="#services" class="panel">SERVICES</a></li>
                        <li><a href="#team" class="panel">THE TEAM</a></li>
                        <li><a href="#contact" class="panel">CONTACT</a></li>
                    </ul>
                    <div class="line-divider">
                        <h1 class="page-top portfolio-heading">PORTFOLIO</h1>
                    </div><!-- LINE DEVIDER -->
                    <ul class="filter group"> 
                        <li class="current all"><a href="#">All</a></li> 
                        <li class="logos"><a href="#">Logos</a></li> 
                        <li class="websites"><a href="#">Websites</a></li> 
                        <li class="themes"><a href="#">Themes</a></li> 
                        <li class="prints"><a href="#">Prints</a></li> 
                    </ul><!-- FILTER --> 
                        <div class="porfolio-item-area">
                            <ul class="portfolio-gallery">
                                <li data-id="id-1" data-type="logos"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
                                <li data-id="id-2" data-type="websites"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
                                <li data-id="id-3" data-type="themes"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
                                <li data-id="id-4" data-type="prints"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
                                <li data-id="id-5" data-type="logos"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
                                <li data-id="id-6" data-type="websites"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
                                <li data-id="id-7" data-type="themes"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
                                <li data-id="id-8" data-type="logos"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
                                <li data-id="id-9" data-type="websites"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
                            </ul>


                        </div><!-- PORTFOLIO-ITEM-GALLERY -->
                </div><!-- CONTENT -->
        </div><!-- PORTFOLIO -->