<% @heading = 'PHOTOS' %>

<div id="photos" class="page">
   <div class="content">
      <%= render 'topmenu' %>
      <div class="porfolio-item-area">
        <ul class="portfolio-gallery">
          <li data-id="id-1" data-type="logoser"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
          <li data-id="id-2" data-type="websites"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
          <li data-id="id-3" data-type="themes"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
          <li data-id="id-4" data-type="prints"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
          <li data-id="id-5" data-type="logoser"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
          <li data-id="id-6" data-type="websites"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
          <li data-id="id-7" data-type="themes"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
          <li data-id="id-8" data-type="logos"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-2.jpg"><img alt="portfolio-img" src="images/img-2-thumb.jpg" /></a></li>
          <li data-id="id-9" data-type="websites"><a title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet." class="portfolio-img" href="images/img-1.jpg"><img alt="portfolio-img" src="images/img-1-thumb.jpg" /></a></li>
        </ul>
    </div><!-- PORTFOLIO-ITEM-GALLERY -->
  </div><!-- CONTENT -->
</div><!-- PORTFOLIO -->