<ul class="menu page-menu">
  <li><a href="#home" class="panel">HOME</a></li>
  <li><a href="#music" class="panel">MUSIC</a></li>
  <li><a href="#news" class="panel">NEWS</a></li>
  <li><a href="#contact" class="panel">CONTACT</a></li>
</ul>