<div class='splash'>
  <div class='logo-front'>
   <%= image_tag("wirebirdname_white.png") %>
  </div>
  <div class='album-front'>
    <a href='blog'>
      <%= image_tag("frontcoversmall_white.png") %>
    </a>
  </div>
  <div class='swings-front'>
    <%= image_tag("swingseplogo_white.png") %>
  </div>
  <a target='_blank' href='http://www.facebook.com/wire.bird' class='facebook'>
    <%= image_tag("f_logo.png") %>
  </div>
</div>


