<div class='splash'>
  <div class='logo-front'>
   <%= image_tag("wirebirdname.png") %>
  </div>
  <div class='album-front'>
    <a href='blog'>
      <%= image_tag("frontcoversmall.png") %>
    </a>
  </div>
  <div class='swings-front'>
    <%= image_tag("swingseplogo.png") %>
  </div>
</div>


