<div id="wrapper">
  <div id="mask">
    <div id="soon" class="page clear">
      <div class="content home-content">                
          <div class="logo">
            <%= image_tag 'bird-icon-shadow.png' %>
          </div>
          <div>
            <h1>HANG TIGHT.</h1>
            <h3>We'll be up and running in no time</h3>
          </div>
      </div><!-- CONTENT -->
    </div><!-- HOME -->
  </div><!-- MASK -->
</div><!-- WRAPPER -->