<%= render "shared/sidebar" %>
<%= render "shared/rightsidebar" %>
<%= render "shared/navbar" %>

<div class='content'>
  <div class='music'>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F53701086&amp;auto_play=false&amp;show_artwork=true&amp;color=4a85f0"></iframe>
    <table class="album">
      <tr>
        <td class='tracklist'>
          <h2>Swings EP</h2>
          <ol>
            <li>Swings</li>
            <li>Always</li>
            <li>On Air</li>
            <li>Wonder</li>
          </ol>
        </td>
        <td class='album-art'>
          <%= image_tag("frontcoversmall.png") %>
        </td>
      </tr>
    </div>
  </div>    
</div>
