<%= render "shared/sidebar" %>
<%= render "shared/rightsidebar" %>
<%= render "shared/navbar" %>

<div class="content">
  <div class="gallery">
      <% @photos.each() do |photo| %>
        <% info = flickr.photos.getInfo(:photo_id => photo.id)%>
        <%= link_to(image_tag(FlickRaw.url_b(info)), FlickRaw.url_b(info), :rel => "prettyPhoto") %>
      <% end %>
  </div>
</div>
