<%= render "shared/sidebar" %>
<%= render "shared/rightsidebar" %>
<%= render "shared/navbar" %>

<div class='content'>
  <% @photos.each do |photo| %>
    <%= image_tag(photo.image.url) %>
  <% end %>
</div>
