<div class="content round">
  <h2 class='head'>Contact us</h2>
  <p>
    Formed in 2010 this is a band that started in high school, and we chat about this that and the other concerning the band.
    Blah blah blah, we got Luke involved so we could focus on our sound, whatever that means.
    We play venues all across Melbourne, playing such esteemed venues such as  The Northcote Social Club, The Wesley Anne, The Northside Christian College School Fete (2 years in a row!)
  </p>
  <p>Please email any enquires to <a href="mailto:contactwirebird@gmail.com">contactwirebird@gmail.com</a></p>
  
  <%= image_tag 'band.jpg' %>
</div>
