/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 *= require bootstrap
*/


body { 
  background-color: #92CEDE;
  color:white;
  font-family:Helvetica, Arial, san-serif;
}

ul {
  list-style-type: none;
}



a:hover {
  background-color: #92CEDE;
}

div.content {
  margin: auto;
  width: 50%;
  background-color:#97D5E6;
  border:0px solid white;
  padding: 20px 0px;
  min-height: 300px;
}

div.sidebar {
  position:absolute;
  left:5px;
}

div.rightsidebar {
  width: 25%;
  height: 750px;
  position:absolute;
  right:5px;
}

div.rightsidebar .logo {
  width: 95px;
  height: 95px;
  position: absolute;
}

div.rightsidebar #facebook-logo {
  top: 250px;
  right: 60px;
}

div.rightsidebar #unearthed-logo {
  top: 400px;
  right: 60px;
}

div.header {
  margin: 50px;
}

div.header ul {
  padding: 0px;
  margin: 0px;
}


div.header div.menu {
  width: 60%;
  margin:auto;
  text-align:center;
}

div.header div.menu a {
  font-size: 100%;
  padding: 0px 22px;
  color:white;
  text-decoration:none;
}

@media screen and (min-width:800px){
  ul li {
    display: inline;
  }
}


@media screen and (max-width:800px){
  div.sidebar{
    display:none;
  }
  
  div.rightsidebar{
    display:none;
  }
  
  div.header {
    margin: 0px;
  }
  
  div.header .logo {
    text-align:center;
    margin:auto;
    width: 320px;
    min-width: 320px;
  }
  
  div.header .menu {
    text-align:center;
    margin:auto;
  }
  
  div.header ul li {
    width:100%;
  }
  
  div.header a {
    font-size:14px;
    padding: 0px 5px;
  }
  
  div.content {
    margin: auto;
    width: 90%;
  }
  
}