/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 *= require bootstrap
*/


body { 
/*  background-image: url('cardboardtexture.jpg');*/
  background-color: #92CEDE;
  color:white;
  font-family:Helvetica, Arial, san-serif;
}

a:hover {
  background-color: #92CEDE;
}

div.content {
  margin: auto;
  width: 50%;
  background-color:#68BDD4;
  border:3px solid white;
  min-height: 300px;
}

div.sidebar {
  width: 25%;
  height:1000px;
  position:absolute;
  left:5px;
}

div.rightsidebar {
  width: 25%;
  height: 750px;
  position:absolute;
  right:5px;
}

div.rightsidebar .logo {
  width: 95px;
  height: 95px;
  position: absolute;
}

div.rightsidebar #unearthed-logo {
  top: 65px;
  left: 250px;
}

div.rightsidebar #facebook-logo {
  top: 65px;
  left: 150px;
}

div.header {
  margin: 50px;
}

div.header ul {
  width: 60%;
  margin:auto;
  text-align:center;
}


div.header a {
  font-size:24px;
  padding: 0px 50px;
  color:white;
  text-decoration:none;
}


