// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/general/clearfix";

.post, .info {
  border-bottom: 1px solid #333;
}
.title, .post_content {
  padding: 10px 0px;
}

.post {
  .info {
    @include clearfix; 
    .title {
      float:left;
    }
    .date {
      text-align: right;
      float: right;
      padding: 3px 0px;
    }
  }
}