// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news_border {
  width: 600px;
  border-style:solid;
  border-width:5px;
}

div.post span.title {
  margin-right: 80%;
}

div.post {
  margin: 10px 20px;
  margin-bottom:30px;
}