// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.albums { 
  background-color:#68BDD4;
  border:3px solid white;
}

.album .album-art img {
  width:400px;
  height:350px;
}

.tracklist ol {
  margin-top: 20px;
  font-size: 20px;
  padding-left: 30px;
}