// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content.music {
  margin: auto;
  width: 50%;
  background-color:#92CEDE;
  border:none;
}

.albums { 
  background-color:#68BDD4;
  border:3px solid white;
}

.albums .album img {
  width:400px;
  height:350px;
}
