<!DOCTYPE html>
<html>
<head>
  <title>Wire Bird</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <script type="text/javascript">
    $(document).ready(function () {
       $('#wrapper').scrollTo('#home', 0); 
    });
  </script>
</head>
<body>

<%= yield %>


<script>
  $(".welcome").fitText(0.5, { minFontSize: '33px', maxFontSize: '117px' })
</script>
<script type="text/javascript">
function resizePanel() {
 
    //get the browser width and height
    width = $(window).width();
    height = $(window).height();
 
    //get the mask width: width * total of items
    mask_width = width * $('.page').length;
         
    //set the dimension 
    $('#wrapper, .page').css({width: width, height: height});
    $('#mask').css({width: mask_width, height: height});
     
    //if the item is displayed incorrectly, set it to the corrent pos
    $('#wrapper').scrollTo($('a.selected').attr('href'), 0);
         
}
</script>

<script type="text/javascript">
   //resize all the items according to the new browser size
    $(window).resize(function () {
         
        //call the resizePanel function
        resizePanel();
    });

$(document).ready(function() {


 
    //get all link with class panel
    $('a.panel').click(function () {
 
                //reset and highlight the clicked link
        $('a.panel').removeClass('selected');
        $(this).addClass('selected');
         
        //grab the current item, to be used in resize function
        current = $(this);
         
                //scroll it to the destination
        $('#wrapper').scrollTo($(this).attr('href'), 1100 , {easing:'easeInOutSine'});// EDIT 1500 TO CHANGE SCROLL SPEED      
         
                //cancel the link default behavior
        return false;
    });
 
 
  
     
});
</script>
</body>
</html>
